.footer-clean {
    padding:50px 0;
    color:#f8f9fa;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  hr {
    border: 1px solid aqua;
    margin: 1rem;
    opacity: .25;
  }
  .card {
    background-color: #2b2d30;
    color: #fff;
    margin-left: 9px;
  }
  
  ::-webkit-scrollbar {
      width: 10px;
      color: #ffffff;
  }
  
  ::-webkit-scrollbar-track {
      background: #212529;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #4856ee;
      border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #3c48c5;
  }
  
  ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(219, 219, 219);
      opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgb(219, 219, 219);
  }
  
  ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgb(219, 219, 219);
  }
  
  .chatbot-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: #ffffff00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: none;
    z-index: 9999;
  }
  
  #chatbot-frame {
    width: 100%;
    height: 100%;
  }
  
  #close-chatbot {
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    background: #ffffff00;
    border: 0px;
  }
  
  
  .container2 {
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 100px;
    width: 500px;
  }
  
  #app {
    margin: 20px auto;
    width: 480px;
    height: 60px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box !important;
  }
  #app .notif {
    top: 60px;
    left: 210px;
    width: 480px;
    height: 60px;
    position: absolute;
    overflow: hidden;
    color: #fff;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    -webkit-animation-timing-function: cubic-bezier(0.81, 0.01, 0.19, 1);
            animation-timing-function: cubic-bezier(0.81, 0.01, 0.19, 1);
    -webkit-animation-name: showAlertMain, moveNotifLeft, moveNotifRight, hideAlertMain;
            animation-name: showAlertMain, moveNotifLeft, moveNotifRight, hideAlertMain;
    -webkit-animation-duration: 1s, 1s, 1s, 1s;
            animation-duration: 1s, 1s, 1s, 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0s, 1s, 6.5s, 7.5s;
            animation-delay: 0s, 1s, 6.5s, 7.5s;
  }
  #app .notif .notif-left {
    height: 60px;
    position: relative;
    float: left;
    background: #2E4359;
    width: 60px;
    overflow: hidden;
    font-style: italic;
    box-sizing: border-box !important;
    border-left: 2px solid #fff;
  }
  #app .notif .notif-left .notif-name,
  #app .notif .notif-left .notif-subname {
    box-sizing: border-box !important;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    position: absolute;
    background: #2E4359;
    line-height: 40px;
  }
  #app .notif .notif-left .notif-name {
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 30px;
    -webkit-animation-name: showAlertLeftName, hideAlertLeftName;
            animation-name: showAlertLeftName, hideAlertLeftName;
    -webkit-animation-delay: 1s, 5.5s;
            animation-delay: 1s, 5.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #app .notif .notif-left .notif-subname {
    top: 60px;
    left: 0;
    z-index: 20;
    font-size: 20px;
    -webkit-animation-name: showAlertLeftSub, hideAlertLeftSub;
            animation-name: showAlertLeftSub, hideAlertLeftSub;
    -webkit-animation-delay: 1s, 5.5s;
            animation-delay: 1s, 5.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #app .notif .notif-right {
    float: left;
    left: -540px;
    height: 60px;
    background: #415E7D;
    min-width: 420px;
    line-height: 40px;
    box-sizing: border-box !important;
    border-right: 2px solid #fff;
    position: relative;
    overflow: hidden;
    -webkit-animation-name: moveMainRight, moveMainLeft;
            animation-name: moveMainRight, moveMainLeft;
    -webkit-animation-duration: 1s, 1s;
            animation-duration: 1s, 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s, 6.5s;
            animation-delay: 1s, 6.5s;
    -webkit-animation-timing-function: cubic-bezier(0.81, 0.01, 0.19, 1);
            animation-timing-function: cubic-bezier(0.81, 0.01, 0.19, 1);
  }
  #app .notif .notif-right .notif-type,
  #app .notif .notif-right .notif-text {
    box-sizing: border-box !important;
    padding: 10px;
    height: 60px;
    min-width: 420px;
    text-align: left;
    position: absolute;
    background: #415E7D;
  }
  #app .notif .notif-right .notif-type {
    top: 0;
    left: 0;
    font-style: italic;
    font-size: 20px;
    -webkit-animation-name: showAlertRightType, hideAlertRightType;
            animation-name: showAlertRightType, hideAlertRightType;
    -webkit-animation-delay: 3s, 5.5s;
            animation-delay: 3s, 5.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #app .notif .notif-right .notif-text {
    top: 0;
    left: -540px;
    font-size: 20px;
    -webkit-animation-name: showAlertRightText, hideAlertRightText;
            animation-name: showAlertRightText, hideAlertRightText;
    -webkit-animation-delay: 3s, 5.5s;
            animation-delay: 3s, 5.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes moveNotifLeft {
    0% {
      left: 210px;
    }
    100% {
      left: 0px;
    }
  }
  
  @keyframes moveNotifLeft {
    0% {
      left: 210px;
    }
    100% {
      left: 0px;
    }
  }
  @-webkit-keyframes moveNotifRight {
    0% {
      left: 0px;
    }
    100% {
      left: 210px;
    }
  }
  @keyframes moveNotifRight {
    0% {
      left: 0px;
    }
    100% {
      left: 210px;
    }
  }
  @-webkit-keyframes moveMainLeft {
    0% {
      left: 0px;
    }
    100% {
      left: -540px;
    }
  }
  @keyframes moveMainLeft {
    0% {
      left: 0px;
    }
    100% {
      left: -540px;
    }
  }
  @-webkit-keyframes moveMainRight {
    0% {
      left: -540px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes moveMainRight {
    0% {
      left: -540px;
    }
    100% {
      left: 0px;
    }
  }
  @-webkit-keyframes showAlertLeftSub {
    0% {
      top: 60px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes showAlertLeftSub {
    0% {
      top: 60px;
    }
    100% {
      top: 0px;
    }
  }
  @-webkit-keyframes hideAlertLeftSub {
    0% {
      top: 0px;
    }
    100% {
      top: 60px;
    }
  }
  @keyframes hideAlertLeftSub {
    0% {
      top: 0px;
    }
    100% {
      top: 60px;
    }
  }
  @-webkit-keyframes showAlertLeftName {
    0% {
      top: 0px;
    }
    100% {
      top: -60px;
    }
  }
  @keyframes showAlertLeftName {
    0% {
      top: 0px;
    }
    100% {
      top: -60px;
    }
  }
  @-webkit-keyframes hideAlertLeftName {
    0% {
      top: -60px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes hideAlertLeftName {
    0% {
      top: -60px;
    }
    100% {
      top: 0px;
    }
  }
  @-webkit-keyframes showAlertRightText {
    0% {
      left: -540px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes showAlertRightText {
    0% {
      left: -540px;
    }
    100% {
      left: 0px;
    }
  }
  @-webkit-keyframes hideAlertRightText {
    0% {
      left: 0px;
    }
    100% {
      left: -540px;
    }
  }
  @keyframes hideAlertRightText {
    0% {
      left: 0px;
    }
    100% {
      left: -540px;
    }
  }
  @-webkit-keyframes showAlertRightType {
    0% {
      left: 0px;
    }
    100% {
      left: 420px;
    }
  }
  @keyframes showAlertRightType {
    0% {
      left: 0px;
    }
    100% {
      left: 420px;
    }
  }
  @-webkit-keyframes hideAlertRightType {
    0% {
      left: 420px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes hideAlertRightType {
    0% {
      left: 420px;
    }
    100% {
      left: 0px;
    }
  }
  @-webkit-keyframes showAlertMain {
    0% {
      top: 60px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes showAlertMain {
    0% {
      top: 60px;
    }
    100% {
      top: 0px;
    }
  }
  @-webkit-keyframes hideAlertMain {
    0% {
      top: 0px;
    }
    100% {
      top: 60px;
    }
  }
  @keyframes hideAlertMain {
    0% {
      top: 0px;
    }
    100% {
      top: 60px;
    }
  }